    @import url('reset.css');

    body {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        background: rgb(75, 72, 72);
    }

    .wrapper {
        width: 100%;
        height: 100vh;
        margin: auto;
    }

    /* --------- Navbar 導覽列  ---------  */
    .header {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header nav {
        position: absolute;
        width: 100%;
        height: 6rem;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        line-height: 6rem;
        background: rgba(26, 26, 26, .7);
        z-index: 3;
    }

    .header h2 a {
        position: absolute;
        left: 8%;
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 2rem;
        color: rgb(255, 170, 13);
    }

    .header ul {
        display: flex;
        position: absolute;
    }

    .header ul li {
        display: block;
        margin: 0 2.5rem;
        font-size: 1.25rem;
    }


    .header ul li a {
        text-decoration: none;
        color: whitesmoke;
    }

    .header ul li a:hover {
        color: rgb(255, 170, 13);
    }

    .header img {
        width: 100%;
        height: 80vh;
        opacity: 0.4;
        object-fit: cover;
    }

    .nav-icon {
        position: absolute;
        top: 0;
        right: 3%;
    }

    nav h3 {
        position: absolute;
        color: rgb(255, 170, 13);
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 5rem;
        font-weight: bolder;
        font-style: italic;
        text-align: center;
        letter-spacing: 2.5rem;
        top: 18rem;
    }

    nav p {
        position: absolute;
        color: rgb(237, 105, 52);
        word-spacing: 1.8rem;
        letter-spacing: 5px;
        font-size: 2.5rem;
        font-style: italic;
        text-align: center;
        top: 28rem;
    }


    /* ---------- Navbar 訂位醒目按鈕 ---------- */
    #bookingBtn {
        padding: 10px 20px;
        background: rgb(255, 170, 13);
        border-radius: 0.75rem;
        font-weight: 500;
        color: black;
    }

    #bookingBtn:hover {
        color: whitesmoke;
        font-weight: 900;
        letter-spacing: 3px;
        transition: .5s;
    }

    /* ---------- About 餐廳簡介區域 ---------- */
    .about {
        text-align: center;
        height: 30rem;
        padding: 10rem;
        border: 5px solid red;
    }

    .about-title {
        display: block;
        color: whitesmoke;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 600;
        font-size: 2rem;
        margin-bottom: 5rem;
        letter-spacing: 3rem;
    }


    .about-text {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .about-text p {
        width: 350px;
        line-height: 1.6;
        color: rgb(255, 170, 13);
        word-spacing: 5px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 24px;
        margin-left: 150px;
    }

    .about-text p a {
        text-decoration: none;
        color: rgb(237, 105, 52);
    }

    .about-text img {
        width: 25rem;
        height: 30rem;
    }



    /* ---------- News 最新消息區域 ---------- */
    .news {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10rem;
        border: 5px solid blue;
    }

    .news h2 {
        display: block;
        color: whitesmoke;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 600;
        font-size: 2rem;
        margin-bottom: 5rem;
        letter-spacing: 3rem;
    }

    .news-tab {
        border: 1px solid ghostwhite;
        width: 70%;
        height: 350px;
        padding: 50px;
    }

    .news-tab ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .news-tab ul li {
        border-bottom: 1px solid ghostwhite;
        width: 100%;
        line-height: 3;
        text-align: center;
    }

    .news-tab ul li:hover {
        color: rgb(255, 170, 13);
        word-spacing: 10px;
        transition: .5s;
    }



    /* ---------- Menu 菜單展示區域 ---------- */


    .indexMenu {
        display: flex;
        padding: 6rem 0;
        margin-top: 7rem;
        background: rgb(75, 72, 72);

    }


    .indexMenuitem {
        display: inline-block;
        margin: 0 auto;
    }

    .indexMenuitem ul {}


    .indexMenuitem ul li {
        display: inline-block;
        margin: 0 1rem;
    }



    /* ---------- Reservation 訂位區域 ---------- */

    .index-booking {
        position: relative;
        background-position: 50%;
        min-height: 70vh;
        width: 100%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 600;
        font-size: 36px;
        display: flex;
        /* 使用 Flexbox */
        justify-content: center;
        /* 垂直置中 */
        align-items: center;
        /* 水平置中 */
        overflow: hidden;
        /* 確保內容不超出邊界 */
    }

    .index-booking a {
        position: absolute;
        /* 這裡改為相對定位 */
        z-index: 5;
        /* 確保連結在上層 */
        text-decoration: none;
        text-align: center;
        padding: 10px 20px;
        background: rgb(255, 170, 13);
        border-radius: 12px;
        font-weight: 500;
        color: black;
        transition: color 0.5s, font-weight 0.5s, letter-spacing 0.5s;
        /* 效果變化 */
    }

    .index-booking a:hover {
        color: whitesmoke;
        font-weight: 900;
        letter-spacing: 3px;
    }

    .index-booking img {
        opacity: 0.3;
        /* 設定透明度 */
        max-height: 75vh;
        /* 減小高度 */
        width: 100%;
        object-fit: cover;
        /* 確保圖片自動縮放並保持比例 */
    }


    /* ---------- Location 餐廳資訊區域 ---------- */

    .map {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 50px;
    }

    .map-text {
        width: 350px;
        line-height: 1.6;
        color: rgb(255, 170, 13);
        word-spacing: 5px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 24px;
        margin-left: 150px;
    }

    .map iframe {
        box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
        width: 700px;
    }

    .map iframe:hover {
        box-shadow: 10px 15px 30px 0px rgba(0, 0, 0, 0.75);
    }



    /* ---------- Footer 區域 ---------- */
    .footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        background: rgb(26, 26, 26);
        color: rgb(255, 170, 13);
        height: 150px;
        font-size: 18px;
    }

    .footer-section {
        flex: 1;
        text-align: center;
        display: flex;
    }

    .footer-logo {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 2rem;
        color: rgb(255, 170, 13);
    }

    .footer-section p {
        margin: 10px 0;
        line-height: 2;
    }

    .footer-section a {
        color: rgb(255, 170, 13);
        margin: 0 10px;
        text-decoration: none;
        font-size: 20px;
    }

    .footer-section a:hover {
        color: rgb(255, 255, 255);
    }